.noteBoxStyle {
	padding: 0px;
	margin: 0px;
}

/* Árnyék kikapcsolva, hogy ne legyen fekete keret és beragadás */
.noteBoxStyle:hover {
	box-shadow: none;
}

.notesTextField {
    background-color: transparent !important;
    background-image: none !important;
    border: none !important;
    padding: 4px;
}

.notesBackground {
	background-gradient-start: rgba(0, 0, 0, 0.3);
	background-gradient-end: rgba(0, 0, 0, 0.9);
	background-gradient-direction: vertical;
}

/* Notes' headers and the buttons in them *************************************/

.notesTitleButton {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

.noteHeaderStyle {
    padding: 4px;
    spacing: 4px;
}

.notesCircleButton {
	border-width: 1px;
	border-radius: 14px;
	height: 28px;
	width: 28px;
	border-style: solid;
	border-color: black;
}

/* Intended to be used with notesCircleButton */
.notesHeaderboxButton {
	border-style: solid;
	border-color: grey;
}

.notesCircleButton:hover, .notesCircleButton:active {
	border-width: 2px;
	border-radius: 10px;
	height: 26px;
	width: 26px;
}

.noteBoxStyle {
    padding: 0px;
    margin: 0px;
}

/* Árnyék kikapcsolva, hogy ne legyen fekete keret és beragadás */
.noteBoxStyle:hover,
.noteBoxStyle:focus {
    box-shadow: none !important;
}

/* Szövegbeviteli mező letisztítása ******************************************/

.notesTextField,
.notesTextField:focus,
.notesTextField:hover {
    background-color: transparent !important;
    background-image: none !important;
    border: none !important;
    box-shadow: none !important;
    padding: 4px;
}

.notesBackground {
    background-gradient-start: rgba(0, 0, 0, 0.3);
    background-gradient-end: rgba(0, 0, 0, 0.9);
    background-gradient-direction: vertical;
}

/* Fejléc és gombok **********************************************************/

.notesTitleButton {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

.noteHeaderStyle {
    padding: 4px;
    spacing: 4px;
}

.notesCircleButton {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 50% !important; 
    height: 28px;
    width: 28px;
}

.notesHeaderboxButton {
    border-style: solid;
    border-color: grey;
}


.notesCircleButton:hover, 
.notesCircleButton:active {
    border-width: 2px;
    border-color: black;
    border-radius: 50% !important; 
    background-color: rgba(0, 0, 0, 0.15) !important;;
}